html {
	/* Setting a base font size for easier rem calculations*/
	font-size: 10px;
}

body {
	background-color: #81c1a5;
	font-family: "Spectral", serif;
	line-height: 1.5;
	text-align: center;
}

.page-container {
	width: 100%;
	padding: 2em;
	padding-top: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h3 {
	font-size: 2rem;
	font-weight: 400;
}

img {
	height: auto;
	width: auto;
	margin: 0 auto;
}


.avatar {
	border-radius: 50%;
	height: 200px;
}

.notice {
	font-weight: 400;
	font-size: 1.8rem;
}
